<form action="<%= users_url %>" method="POST">
  <input type="text" name="user[username]" value="<%= @user.username %>" placeholder="username"/>
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="submit" />
</form>
<a href="<%= root_url %>">cancel</a>